# True if it the config file is located in the root package of your project
config.stopBubbling = true

lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonIgnore
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty

lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true